<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
              <% end %>
            <% else%>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon-favorite' %>
              <% end %>
            <% end %>
            <% #Rails 08 追記分%>
            <%= topic.favorite_users.count %>
            <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <% #Rails 08 確認テスト %>
            <h3 class="topic-author">
              <%= "コメント" %>
              <% #コメント投稿機能 %>
              <%= form_for [@post, @comment] do |f| %>
                <%= f.text_field :content %>
                <br>
                <%= f.submit 'コメントする' %>
              <% end %>
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>